h1 users

a(href="/users/create") New

form(action="/users/search",method="GET")
  input(type="text",name="q")
  button Search

table
  tr
    th id
    th User
        each user in users
          tr
            td=user.id
            td=user.name